<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style type="text/css">
        body {
            font-family: Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
        }

        .ui-resizable-helper {
            border: 1px dotted gray;
        }
    </style>
</head>
<body class="page-header-fixed">
    <div class="header navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <span data-lang="Main.Title" class="brand" style="width: 600px;height:20px; color: rgb(255, 255, 255); font-size: 18px; margin-left: 0px;">
                    TeamOA
                </span>
                <ul class="nav pull-right" style="margin-right:50px;">
                    <li class="dropdown user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img alt="" src="~/IMG/PHOTO/avatar1.jpg" />
                            <span>ad</span>
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Common/UserAuthorize/logout"><i class="icon-key"></i> <span data-lang="Main.Logout">退出</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-container">
        <div class="page-content">
            <div class="container-fluid" id="contextPage">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>