<div style="height: 40px;">
    <a style="float: left !important; margin-top: 0px !important;" href="javascript:;" class="a-upload">
        <input id="file" type="file" multiple (change)="upload($event)"  accept=".xlsx" />上传工资信息
    </a>
    <span *ngIf="spanValue==1">上传中……</span><span *ngIf="spanValue==2">文件上传成功</span>
</div>

<nz-table #headerTable [nzData]="articleWagesModel" [nzPageSize]="7">
    <thead>
      <tr>
        <th nzWidth="10%">工号</th>
        <th nzWidth="10%">姓名</th>
        <th nzWidth="16%">月份</th>
        <th nzWidth="16%">应发</th>
        <th nzWidth="16%">社保</th>
        <th nzWidth="16%">公积金</th>
        <th nzWidth="16%">实发</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of headerTable.data">
        <td>{{ data.userId }}</td>
        <td>{{ data.userName}}</td>
        <td>{{ data.yearMonth }}</td>
        <td>{{ data.allMoney}}</td>
        <td>{{ data.insurance }}</td>
        <td>{{ data.accumulationFund }}</td>
        <td>{{ data.practicalMoney }}</td>
      </tr>
    </tbody>
</nz-table>
