<nz-tabset>
    <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate" (nzClick)="recordOrPower(tab.name)">
      <ng-template #titleTemplate> <i nz-icon [nzType]="tab.icon"></i>{{ tab.name }} </ng-template>
    </nz-tab>
</nz-tabset>


<div *ngIf="tabValue=='请假'">
  <nz-table #basicTable [nzData]="checkLeaveInfo" [nzPageSize]="7">
    <thead>
        <tr>
        <th>人员</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>类型</th>
        <th>状态</th>
        <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
        <td>{{data.userName}}</td>
        <td>{{data.startTime| date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{data.endTime| date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{data.type}}</td>
        <td>{{data.status}}</td>
        <td>
          <button nz-button *ngIf="data.status=='未审核'" nzType="primary" (click)="CheckInfo(data.id,'审核通过',1)">通过</button>
          <button nz-button *ngIf="data.status=='未审核'" nzType="primary" (click)="CheckInfo(data.id,'未通过',1)">未通过</button>
        </td>
        </tr>
    </tbody>
  </nz-table>
</div>

<div *ngIf="tabValue=='加班'">
  <nz-table #basicTable [nzData]="checkOvertime" [nzPageSize]="7">
    <thead>
        <tr>
        <th>人员</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>申请时间</th>
        <th>审核状态</th>
        <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
        <td>{{data.userName}}</td>
        <td>{{data.startTime| date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{data.endTime| date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{data.dateTime| date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{data.status}}</td>
        <td>
          <button nz-button *ngIf="data.status=='未审核'" nzType="primary" (click)="CheckInfo(data.id,'审核通过',2)">通过</button>
          <button nz-button *ngIf="data.status=='未审核'" nzType="primary" (click)="CheckInfo(data.id,'未通过',2)">未通过</button>
        </td>
        </tr>
    </tbody>
  </nz-table>
</div>

<div *ngIf="tabValue=='费用'">
  <nz-table #basicTable [nzData]="checkCost" [nzPageSize]="7">
    <thead>
        <tr>
        <th>人员</th>
        <th>费用类型</th>
        <th>金额</th>
        <th>申请时间</th>
        <th>审核状态</th>
        <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
        <td>{{data.userName}}</td>
        <td>{{data.type}}</td>
        <td>{{data.costCount}}</td>
        <td>{{data.dateTime| date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{data.status}}</td>
        <td>
          <button nz-button nzType="primary">查看详情</button>
        </td>
        </tr>
    </tbody>
  </nz-table>
</div>