<p>check works!</p>
<nz-tabset>
    <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate" (nzClick)="recordOrPower(tab.name)">
      <ng-template #titleTemplate> <i nz-icon [nzType]="tab.icon"></i>{{ tab.name }} </ng-template>
    </nz-tab>
</nz-tabset>


<div *ngIf="tabValue=='请假'">
  <nz-table #basicTable [nzData]="tableData.leaveData">
    <thead>
        <tr>
        <th>人员</th>
        <th>开始时间</th>
        <th>结束时间</th>
        <th>类型</th>
        <th>状态</th>
        <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
        <td>{{data.userName}}</td>
        <td>{{data.startTime}}</td>
        <td>{{data.endTime}}</td>
        <td>{{data.type}}</td>
        <td>{{data.status}}</td>
        <td>
          <button nz-button nzType="primary">查看详情</button>
        </td>
        </tr>
    </tbody>
  </nz-table>
</div>

<div *ngIf="tabValue=='加班'">

</div>

<div *ngIf="tabValue=='费用'">
  <nz-table #basicTable [nzData]="tableData.costData">
    <thead>
        <tr>
        <th>人员</th>
        <th>费用类型</th>
        <th>金额</th>
        <th>申请时间</th>
        <th>审核状态</th>
        <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
        <td>{{data.userName}}</td>
        <td>{{data.costtype}}</td>
        <td>{{data.costcount}}</td>
        <td>{{data.datetime}}</td>
        <td>{{data.status}}</td>
        <td>
          <button nz-button nzType="primary">查看详情</button>
        </td>
        </tr>
    </tbody>
  </nz-table>
</div>